@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 16px;
  background: #fff;
  color: #56616b;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.name-short {
  @apply rounded-full w-8 h-8 flex items-center justify-center text-[#FFFFFF] font-semibold text-sm bg-[#3f454c];
}
