@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 16px;
  background: #fff;
  color: #56616b;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
